<!-- [8/9/22] Based on demo_gazebo.launch. Trying to fix error:

[ WARN] [1662645034.248481147, 213.117000000]: Failed to read controllers from /controller_manager/list_controllers
[ERROR] [1662645034.248929089, 213.117000000]: Unable to identify any set of controllers that can actuate the specified joints: [ active_module_a_1__active_module_b_1 active_module_a_2__active_module_b_2 base_plate__base_link ]
[ERROR] [1662645034.249077459, 213.117000000]: Known controllers and their joints:

[ERROR] [1662645034.249384991, 213.117000000]: Apparently trajectory initialization failed
			
-->
<launch>
  	<!-- specify the planning pipeline -->
	<arg name="pipeline" default="ompl" />

  	<!-- Gazebo specific options -->
	<arg name="gazebo_gui" default="true"/>
	<arg name="paused" default="false"/>

  	<!-- launch the gazebo simulator and spawn the robot -->
	<include file="$(dirname)/gazebo.launch" >
		<arg name="paused" value="$(arg paused)"/>
		<arg name="gazebo_gui" value="$(arg gazebo_gui)"/>
	</include>
		
	<include file="$(dirname)/demo.launch" pass_all_args="true">
		<!-- robot description is loaded by gazebo.launch, to enable Gazebo features -->
		<arg name="load_robot_description" value="false" />
		<arg name="moveit_controller_manager" value="ros_control" />
	</include>
	
	<!-- Include the gazebo controllers -->	
	<include file="$(dirname)/load_controller4trajectory_exec.launch" />
</launch>
